<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7 responsive-wrap">

                <div class="row detail-filter-wrap">
                    <div class="col-md-4 featured-responsive">
                        <div class="detail-filter-text">
                            <p>{{clusters.length}} restaurants in <span>{{location.name}}</span></p>
                        </div>
                    </div>

                    <div class="col-md-8 featured-responsive">
                        <div class="detail-filter">
                            <p>Filter by month</p>
                            <form [formGroup]="filterForm" (ngSubmit)="setFilter(filterForm.value)" class="filter-dropdown">
                                <select formControlName="filterMonth" class="custom-select mb-2 mr-sm-2 mb-sm-0"  [ngModel]="month" name="month" id="inlineFormCustomSelect">
                                    <option *ngFor="let m of months" [ngValue]="m.value">{{m.text}}</option>
                                </select>
                                <select formControlName="filterYear" class="custom-select mb-2 mr-sm-2 mb-sm-0"  [ngModel]="year" name="year" id="inlineFormCustomSelect1">
                                    <option *ngFor="let y of years" [ngValue]="y.value">{{y.text}}</option>
                                </select>
                                <button type="submit" class="btn btn-info">Set filter</button>
                            </form>
                            <div class="map-responsive-wrap">
                                <a class="map-icon" href="#"><span class="icon-location-pin"></span></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--<div class="row detail-checkbox-wrap hidden">
                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Bike Parking</span>
                        </label>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Wireless Internet  </span>
                        </label>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Smoking Allowed  </span>
                        </label>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Street Parking</span>
                        </label>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Special</span>
                        </label>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                        <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Accepts Credit cards</span>
                    </label>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Pets Friendly</span>
                        </label>
                    </div>
                </div> -->

                <div class="row light-bg detail-options-wrap">
                    <div *ngFor="let cluster of clusters" class="col-sm-6 col-lg-12 col-xl-6 featured-responsive">
                        <div class="featured-place-wrap">
                            <a href="detail.html">
                                <img src="{{cluster.restaurant.photo.images.small.url}}" class="img-fluid" alt="#">
                                <span [className]="cluster.new_cluster == 0 ? 'featured-rating' : (cluster.new_cluster == 1 ? 'featured-rating-orange' : 'featured-rating-green')"> <i class="ti-star" aria-hidden="true">{{cluster.new_cluster + 1}} </i> </span>
                                <div class="featured-title-box">
                                    <h6>{{cluster.restaurant.name}}</h6>
                                    <p>{{cluster.restaurant.rating}} </p> <span>• </span>
                                    <p>{{cluster.restaurant.num_reviews}} Reviews</p> <span> • </span>
                                    <p><span>{{cluster.restaurant.price_level}}</span></p>
                                    <ul>
                                        <li><span class="icon-location-pin"></span>
                                            <p>{{cluster.restaurant.address}}</p>
                                        </li>
                                        <li><span class="icon-screen-smartphone"></span>
                                            <p>{{cluster.restaurant.phone}}</p>
                                        </li>
                                        <li><span class="icon-link"></span>
                                            <p>{{cluster.restaurant.website}}</p>
                                        </li>

                                    </ul>
                                    <div class="bottom-icons">
                                        <div class="closed-now">{{cluster.restaurant.ranking}}</div>
                                        <span class="ti-heart"></span>
                                        <span class="ti-bookmark"></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-5 responsive-wrap map-wrap">
                <div class="map-fix">
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </div>
</section>