<section class="reserve-block">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5>{{restaurant.cluster.restaurant.name}}</h5><br>
        <p><span>{{restaurant.cluster.restaurant.price_level}}</span></p>
        <p class="reserve-description">{{restaurant.cluster.restaurant.ranking}}</p>
      </div>
      <div class="col-md-6">
        <div class="reserve-seat-block">
          <div
            [className]="restaurant.cluster.cluster == 0 ? 'reserve-rating-low' : (restaurant.cluster.cluster == 1 ? 'reserve-rating-medium' : 'reserve-rating-high')">
            <i [className]="restaurant.cluster.cluster == 0 ? 'ti ti-thumb-down' : (restaurant.cluster.cluster == 1 ? 'ti ti-hand-drag' : 'ti ti-thumb-up')"
              aria-hidden="true"></i>
          </div>
          <div class="review-btn">
            <a href="#" class="btn btn-outline-danger">WRITE A REVIEW</a>
            <span>{{restaurant.cluster.restaurant.num_reviews}} reviews</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="light-bg booking-details_wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-8 responsive-wrap">
        <div class="booking-checkbox_wrap">
          <app-service-chart *ngIf="restaurant && prediction" [restaurant]="restaurant" [prediction]="prediction">
          </app-service-chart>
          <hr>
          <app-value-chart *ngIf="restaurant && prediction" [restaurant]="restaurant" [prediction]="prediction">
          </app-value-chart>
          <hr>
          <app-food-chart *ngIf="restaurant && prediction" [restaurant]="restaurant" [prediction]="prediction">
          </app-food-chart>
        </div>
        <div class="booking-checkbox_wrap mt-4">
          <app-vader-chart *ngIf="restaurant && prediction" [restaurant]="restaurant" [prediction]="prediction">
          </app-vader-chart>
          <hr>
          <app-wordnet-chart *ngIf="restaurant && prediction" [restaurant]="restaurant" [prediction]="prediction">
          </app-wordnet-chart>
        </div>
        <div class="booking-checkbox_wrap mt-4">
          <app-review-list *ngIf="restaurant" [restaurant]="restaurant"></app-review-list>
        </div>
      </div>
      <div class="col-md-4 responsive-wrap map-wrap">
        <app-restaurant-info *ngIf="restaurant" [restaurant]="restaurant"></app-restaurant-info>
        <div class="follow">
          <div id="map"></div>
        </div>
        <div class="contact-info mt-4">
          <div class="address">
            <app-service-stats *ngIf="restaurant" [restaurant]="restaurant"></app-service-stats>
          </div>
        </div>
        <div class="contact-info mt-4">
          <div class="address">
            <app-value-stats *ngIf="restaurant" [restaurant]="restaurant"></app-value-stats>
          </div>
        </div>
        <div class="contact-info mt-4">
          <div class="address">
            <app-food-stats *ngIf="restaurant" [restaurant]="restaurant"></app-food-stats>
          </div>
        </div>
        <div class="contact-info mt-4">
          <div class="address">
            <app-vader-stats *ngIf="restaurant" [restaurant]="restaurant"></app-vader-stats>
          </div>
        </div>
        <div class="contact-info mt-4">
          <div class="address">
            <app-wordnet-stats *ngIf="restaurant" [restaurant]="restaurant"></app-wordnet-stats>
          </div>
        </div>
        <div class="contact-info mt-4">
          <div class="address">
            <app-overview-chart *ngIf="restaurant" [restaurant]="restaurant"></app-overview-chart>
          </div>
        </div>
        <div class="contact-info mt-4">
          <div class="address">
            <app-review-heatmap *ngIf="restaurant" [restaurant]="restaurant"></app-review-heatmap>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
